<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <form method="post">
    {% csrf_token %}

    <input type="text" name="nu" value="{{ data.nu }}">
    <br>

    <input type="text" name="name" value="{{ data.name }}">
    <br>

    <input type="text" name="phon" value="{{ data.number }}">
    <br>

    <input type="text" name="adress" value="{{ data.adress }}">
    <br>

    <input type="submit" value="update">
</form>
</body>
</html>